@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: #1f2235;
  font-family: "Montserrat";
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 10px solid #636682;
  border-radius: 50%;
  border-top: 13px solid #f5ba09;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*----*/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#cardarc{
  color: white;
}

.contenido{
  min-width: 100%;
}

/* Main Heading Font */
.m-heading {
  font-family: "Montserrat";
  font-weight: 700;
}

/* Navigation */
.nav-link {
  border: 2px solid transparent;
}

.navbar-nav{
  justify-content: space-around;
}

.nav-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #f5ba09;
  transition: 0.5s ease;
}

.btn-circle.btn-lg{
  float: left;
  margin-top: 30px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  cursor:pointer;
}


/* Aligning items in main row */
.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Changing Name Font sixe */
.main_row h1 {
  font-size: 6.3rem;
}


.main_row img {
  width: 100%;
  height: 70vh;
}

/* About Section */
.about {
  background: #313552;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid #f5ba09;
}

.card-img-top{
  height: 100%;
}

.card-title{
  font-weight: 600;
  position: relative;
}

.card-text{
  position: relative;
}
.card-body{
  position: relative;
  padding-bottom: 20%;
}

.card-body a{
  position: absolute;
  bottom: 20px;
}

/* Social Media Section */
#social-media {
  background: #313552;
}

/* Add color to Social Media Links */
.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}


@keyframes float {
  from {
    transform:translateY(8px) rotate3d(0,0,1,15deg);
  }

  to {
     transform:translateY(-8px) rotate3d(0,0,1,15deg);
  }
}

#a{
  max-width: 70%;
  animation-duration: 1.5s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
}

#pr{
  min-width: 90%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.container p{
  font-size: 1.3rem;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}



.b_redes{
  margin-right: 30px;
  margin-bottom: 20px;

}
.b_redess{
    width: 300px;

}

#pr{
content: url("img/Saly-10.png");
height: 100%;
min-width: 100%;
}

@media screen and (max-width: 768px) {
   #pr {content: url("img/mano.png");
        height: 100%;
        min-width: 100%;
        animation-duration: 1.2s;
        animation-name: saludo;
        animation-iteration-count: infinite;
        }
    body p{
      font-size: 1.15rem;
    }

    .container p{
      font-size: 1.15rem;
    }

    .main_row h2 {
        font-size: 1.4rem;
    }

    .main-container{
      height: 310px;

    }
    .main_row{
      height: 100%;
    }

    .redess{
      text-align: center;
      justify-content: center;
    }

    #redess a {
      font-size: 0.5rem;
    }

    #redes-sociales h1{
      font-size: 2rem;
    }

    .b_redes{
      margin-right: 0;
    }



 }


.contNombre{
   width: 40vw;
 }

 @media screen and (max-width: 992px){
   #pr {content: url("img/mano.png");
        display: inline-block;
        height: 100%;
        width: 20vw;
        animation-duration: 1.2s;
        animation-name: saludo;
        animation-iteration-count: infinite;
        }
   .main_row h1 {
        font-size: 3rem;
     }
 }


 @media screen and (max-width: 674px){
    .contNombre{
      width: 60vw;
    }
 }

 @keyframes saludo {
   0%{
     transform: rotate(0deg);
     transform-origin: 35% 100%;
   }
   50%{
     transform: rotate(5deg);
     transform-origin: 35% 100%;
   }
   100%{
     transform: rotate(0deg);
     transform-origin: 35% 100%;
   }
 }
