body { padding: 0; margin: 0; background: #1f2235}
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%);}
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #00001d;}
.unity-mobile #unity-canvas { width: 100%; height: 100%;}
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('title.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('emptybar.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('fullbar.png') no-repeat center }
#unity-footer { position: relative; background: #00001d; }
.unity-mobile #unity-footer { display: none; background: #00001d; }
#unity-fullscreen-button { float: right; width: 45px; height: 38px; background: url('fullscreen.png') no-repeat center;}
#unity-mobile-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#title{
    display:block;
    margin:auto;
    margin-top: 20px;
    border-radius: 50px;
    border-radius: 30px;
    background: #00001d;
    height: 142px;
    width: 700px;
}

#imgtitle{
  display:block;
  margin:auto;
  background: url('title1.gif') no-repeat center;
  height: 130px;
}



#screenn{
  left: 50%; top: 60%; transform: translate(-50%, -40%);
  width: auto;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  border-radius: 50px;
  /*-webkit-mask-image: url('frame.png');*/
  background: #00001d;
  /*background-image: url("https://pngimg.com/uploads/picture_frame/picture_frame_PNG14.png");*/
  /*-webkit-mask-image: url("TemplateData/Sin título-01.png");*/
}
