@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

body,html{
  max-width: 100%;
  background-color: rgb(2,0,28);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

/* glitch effect by https://codepen.io/marcellegane */

.center__text {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  z-index: 1;
  cursor: default;
}

.glitch {
	 position: relative;
	 color: white;
	 mix-blend-mode: lighten;
}
 .glitch:before, .glitch:after {
	 content: attr(data-text);
	 position: absolute;
	 top: 0;
	 width: 100%;
	 background: black;
	 clip: rect(0, 0, 0, 0);
}
 .glitch:before {
	 left: -1px;
	 text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}
 .glitch:after {
	 left: 1px;
	 text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}
 .glitch:hover:before {
	 text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
	 animation: glitch-loop-1 0.4s infinite ease-in-out alternate-reverse;
}
 .glitch:hover:after {
	 text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
	 animation: glitch-loop-2 0.4s infinite ease-in-out alternate-reverse;
}

@keyframes glitch-loop-1 {
  0% { clip: rect(36px, 9999px, 9px, 0) }
  25% { clip: rect(25px, 9999px, 99px, 0) }
  50% { clip: rect(50px, 9999px, 102px, 0) }
  75% { clip: rect(30px, 9999px, 92px, 0) }
  100% { clip: rect(91px, 9999px, 98px, 0) }
}

@keyframes glitch-loop-2 {
  0% { top: -1px; left: 1px; clip: rect(65px, 9999px, 119px, 0) }
  25% { top: -6px; left: 4px; clip: rect(79px, 9999px, 19px, 0) }
  50% { top: -3px; left: 2px; clip: rect(68px, 9999px, 11px, 0) }
  75% { top: 0px; left: -4px; clip: rect(95px, 9999px, 53px, 0) }
  100% { top: -1px; left: -1px; clip: rect(31px, 9999px, 149px, 0) }
}

/* ------- */

nav {
  display: flex;
  align-items: center;
  padding: 20px;
  vertical-align: middle;
  justify-content: space-between;
}

nav a{
  color: white;
}

.logo{
  display: flex;
  align-items: center;
  transform:translateX(-25%);
}

.logo h5{
  margin: 0;
  color: white;
}

.back{
  cursor: pointer;
  flex: 1;
}
.m-container{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 15px;
  height: 40vh;
}

#imgi{
    position: absolute;
    height: 50%;
    transform: rotate(20deg);
    /* right: -25px; */
}

.m-img-cont{
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
}

/*
.m-container h1{
  font-size: 3.2rem;
  margin-right: 15%;
  margin-left: 15%;
  font-weight: bold;
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
} */


.des-container{
  position: relative;
  margin-top: 30px;
  max-width: 100%;
  /* background-color: rgb(254,202,1); */
  background-color: #1f2235;
  padding: 3rem;
  font-size: 1.5rem;
  color: #f8f9f8;
}
.btn-lg{
  width: 25px;
  height: 25px;
  /* padding: 10px 16px; */
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50px;
  cursor:pointer;
  border: none;
  outline:none;
}

.des-container p{
  margin: 0;
  margin-bottom: 30px;
}

.tecs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  flex:1;
  margin-top: 20px;
}

.tec_item img{
  height: 60%;
  margin-bottom: 5px;
}

.tec_item{
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 90px;
  width: 90px;
  font-size: small;
  background: #1f2235;
  box-shadow:  9px 9px 18px #1b1e2f,
             -9px -9px 18px #23263b;
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

#btn-sour{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(249,248,248);
  border: 2px solid rgb(249,248,248);
  border-radius: 30px;
  height: 50px;
  width: 200px;
  color:  #1f2235;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: 'Montserrat';
  text-decoration: none;
}

#btn-sour i{
  margin-left: 10px;
}

#btn-sour:hover{
  color:#1f2235;
  background-color: rgba(255,255,255,0.6);
  transition: 0.5s;
}
.cont_items{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer{
    color: rgb(248,249,248);
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow-x: hidden;
    margin-right: 0px;
}
footer a{
    color: rgb(248,249,248);
}

@media screen and (max-width: 768px){
  #imgi{
    height: 35%;
  }
  .center__text{
    font-size: 80px;
  }
  .feat_item{
    flex-wrap: wrap;
  }
  .m-img-cont{
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 52%;
  }
}
@media screen and (max-width: 400px){
  #imgi{
    height: 30%;
  }

  .m-container{
    height: 30vh;
  }

  .center__text{
    font-size: 50px;
  }
  .features h2{
    font-size: 1.2rem;
  }
  .features h1{
    font-size: 1.6rem;
  }
  .imag_it{
    margin-right: 0;
    border-radius: 12px;
  }
}
